  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
 	flex: 1 0 auto;
 	height: 70vh;
 }  

/*NAV*/
nav{
	background-color: #022c43;
}

.navbar-nav .active a{
	color: #E7C810 !important;
}
.nav-link, .dropdown-menu .dropdown-item{
	color: white !important;
	font-family: 'Dosis', sans-serif;
}

.nav-link:hover, .dropdown-menu .dropdown-item:hover{
	color: #E7C810 !important;
	background-color: #022c43;

}
ul .dropdown-menu{
	background-color: #022c43;
}
#nav-s{
	width: 350px;
	border-radius: 0;
	height: 35px;
	border-style: none;
	font-family: 'Dosis', sans-serif;
}

#but-s{
	width: 45px;
	height: 35px;
	border-radius: 0;
	background-color: white;
	border-style: none;
	/*background-color: #022c43;
	border-style: none;*/
}
#but-s i{
	/*color: #E7C810; */
	color: #022c43;
}

#but-s:hover i{
	color: #E7C810;
}

/*Footer*/
footer{
	background-color: #022c43;
}

h6{
	color: white;
	font-family: 'Dosis', sans-serif;
	text-align: center;
	/*font-size: small !important;*/
}
.redes{
	text-align: center;
}

footer p{
	color: white;
	font-family: 'Dosis', sans-serif;
	font-size: smaller;
	color: #E7C810;
}

footer div .row div{
	text-align: center;
}

footer .container-fluid{
	text-align: center;
	background-color: #F4F4F4;
}

footer .container-fluid #aviso{
	font-size: xx-small;
}

footer .container-fluid p{
	color:  #022c43;
}

/*MAIN*/
.banner img{
	 height: 50vh;
	 width: 100%;
}