body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	font-size: 80%;
}

main {
	flex: 1 0 auto;
	margin-top: 55px;
}  

/* NAV */
nav{
	background-color: #022c43;
	position: fixed !important;
}
.navbar-nav .active a{
	color: #E7C810 !important;
}
.nav-link, .dropdown-menu .dropdown-item{
	color: white !important;
	font-family: 'PT Sans', sans-serif;
}
.nav-link:hover, .dropdown-menu .dropdown-item:hover{
	color: #E7C810 !important;
	background-color: #022c43;
}
ul .dropdown-menu{
	background-color: #022c43;
}
#nav-s{
	width: 250px;
	border-radius: 0;
	height: 35px;
	border-style: none;
	font-family: 'PT Sans', sans-serif;
}

#but-s{
	width: 45px;
	height: 35px;
	border-radius: 0;
	background-color: #022c43;
	border-style: none;
	border: solid lightgray 1px;
}
#but-s i{
	color: white;
}

#but-s:hover i{
	color: #E7C810;
}

/*Footer*/
footer{
	background-color: #022c43;
}

h6{
	color: white;
	font-family: 'PT Sans', sans-serif;
	text-align: center;
	font-size: smaller !important;
}

.redes{
	text-align: center;
}

footer p{
	color: white;
	font-family: 'PT Sans', sans-serif;
	font-size: x-small;
	color: #E7C810;
	text-align: center;
}

footer div .row div{
	text-align: center;
}

footer .container-fluid{
	text-align: center;
	background-color: #F4F4F4;
}

footer .container-fluid #aviso{
	font-size: xx-small;
}

footer .container-fluid p{
	color:  #022c43;
}

/*MAIN*/
.banner img{
	 height: 50vh;
	 width: 100%;
}

main h1{
	font-family: 'Fjalla One', sans-serif;
	text-align: center;
	color: #022c43;
	font-size: 1.5rem;
}

p{
	font-family: 'PT Sans', sans-serif;	
	font-size: .8rem;
	text-align: justify;
}